.list-ingredient {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

app-ingredient {
  width: 24.5%;
}

h4 {
  background-color: rgba(255, 138, 57, 0.05);
  border-left: 8px solid rgba(255, 138, 57, 0.75);
  /*border-top: 1px solid rgba(255, 138, 57, 0.75);*/
  border-bottom: 1px solid rgba(255, 138, 57, 0.75);
  font-family: 'Poiret One', cursive;
  color: #ff8a39;
  font-size: 1.25em;
  padding: 0.25em;
  font-weight: bold;
  box-sizing: border-box;
}
