.pizza-choice {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-self: stretch;
}

.pizza-choice:hover {
  cursor: pointer;
}


.pizza-choice >div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  align-items: stretch;
  align-self: stretch;
}

.pizza-choice .btn-blk {
  padding: 0;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
}

.pizza-choice .deleteBtn, .pizza-choice .editBtn {
  flex-grow: 1;
  padding: 0 0.15em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 138, 57, 0.04);
  border-left: 1px solid rgba(255, 138, 57, 0.3);
}

.pizza-choice:hover .deleteBtn, .pizza-choice:hover .editBtn {
  color: rgba(255, 138, 57, 0.4);
  background-color: rgba(255, 138, 57, 0.1);
}

.pizza-choice .deleteBtn:hover {
  cursor: pointer;
  color: #ce2b37;
  border-color: #ce2b37;
  background-color: rgba(206, 43, 55, 0.11);
}

.pizza-choice .editBtn:hover {
  cursor: pointer;
  color: rgba(117, 217, 62, 1);
  border-color: rgba(117, 217, 62, 1);
  background-color: rgba(117, 217, 62, 0.11);
}

.pizza-choice header {
  background-color: rgba(255, 138, 57, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 138, 57, 0.3);
}

.pizza-choice header .title {
  font-family: 'Poiret One', cursive;
  color: #ff8a39;
  font-size: 1.25em;
  padding: 0.25em;
  font-weight: bold;
  flex-grow: 1;
}

.pizza-choice header .price-blk {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  min-width: 4em;
  padding-right: 0.25em;
}

.pizza-choice header .price-blk > .price {
  font-family: 'VT323', monospace;
  color: #ff8a39;
  font-size: 1.8em;
  font-weight: bold;
}

.pizza-choice header .price-blk > .euro {
  font-family: 'Poiret One', cursive;
  color: #ff8a39;
  font-size: 0.9em;
  margin-left: 0.5em;
}

.pizza-choice:hover header {
  background-color: rgba(255, 138, 57, 0.25);
}

.pizza-choice:hover .ingredient-blk {
  background-color: rgba(255, 138, 57, 0.15);
}

.pizza-choice .ingredient-blk {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0.5em;
}

.pizza-choice .ingredient-blk li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  font-style: italic;
  list-style: none;
  font-family: 'Poiret One', cursive;
  color: #ff8a39;
  font-size: 1.1em;
  margin-right: 1em;
}

.pizza-choice .ingredient-blk li > .icone {
  height: 0.5em;
  width: 0.5em;
  background-color: rgba(255, 138, 57, 0.5);
  border-radius: 50%;
  margin-right: 0.25em;
}
