<app-pizza-add *ngIf="showForm === true"
               (onCancel)="hideForm()"
               (onError)="onErrorMessage($event)"
               (onEdit)="editAction($event)"
               (onInsert)="insertAction($event)"
               (onSelect)="onSelectIngredient($event)"
               [_id]="getId()"
               [action]="getAction()"
               [price]="getPrice()"
               [title]="getTitle()"
               [ingredients]="getIngredients()"
               [name]="getName()"></app-pizza-add>
<app-basket *ngIf="showBasket"
            (onDelete)="deleteQtePizza($event)"
            (onMoins)="moinsQtePizza($event)"
            (onPlus)="addQtePizza($event)"
            (onCancel)="onHideBasket($event)"
            (onSubmit)="onSubmitBasket($event)"
            [listQtePizza]="listeQtePizza"></app-basket>
<nav>
  <div *ngIf="message" class="{{ className }}">
    {{ message }}
  </div>
  <a (click)="onShowForm()" class="ajoutBtn">+</a>
</nav>
<app-pizzas-list (onDeleted)="deleteAction($event)"
                 (onSelect)="addQtePizza($event)"
                 (onEdit)="onEditClickAction($event)"></app-pizzas-list>
