<h4>
  <span>Choix des ingrédients</span>
  <div class="addBtn" (click)="showFormAction()">ajouter</div>
</h4>
<app-ingredient-add *ngIf="showForm"
                    (onInsert)="addNewIngredient($event)"
                    (onCancel)="hideFormAction($event)"></app-ingredient-add>

<div class="list-ingredient">
  <app-ingredient *ngFor="let ingredient of ingredients"
                  [ingredient]="ingredient"
                  (onSelected)="onSelectIngredient($event)">
  </app-ingredient>
</div>
