<div class="pizza-choice">
  <div (click)="onSelectAction()">
    <header>
      <div class="title">{{ pizza.name }}</div>
      <div class="price-blk">
        <div class="price">{{ pizza.price | number : '1.2-2' }}</div>
        <div class="euro">€</div>
      </div>
    </header>
    <ul class="ingredient-blk">
      <li *ngFor="let ingredient of pizza.ingredients">
        <div class="icone"></div>
        {{ ingredient.name }}
      </li>
    </ul>
  </div>
  <div class="btn-blk">
    <div class="editBtn" (click)="onEditAction()">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </div>
    <div class="deleteBtn" (click)="onDeleteAction()">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </div>
  </div>
</div>
